$monte-serrat: 'Montserrat',
sans-serif;
$lato: 'Lato',
sans-serif;
$bg: #F8FAFC;
$cor-primaria: #be514f;
// $cor-primaria: #007DCC;
$cor-secundaria: #AECFF8;
$cinza: #f9f9f9;
$branco: #ffffff;
$nao-iniciou: #ffffff;
$aguardando: #FFFF00;
$em_atendimento:#00FF00;
$em_atendimento_em_outro_servico:#0000FF;
$atendido: #29224b;
$fastpass: #751e2c;
$cor-aviso: #E82C0C;