$branco: #FFFFFF;
$cinza-escuro: #333333;
$roxo: #811384;
$salmao: #D8726B;
$azul-claro: #43A3EB;
$azul: #046AAB;
$lilas: #8E70EE;
$cinza: #666666;
$vermelho-f4: #F44545;
$roxo-escuro: #352B59;
$verde: #2E807D;