.nav-bar {
    height: 70px;
    background: $branco;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082); // .botao{
    .botao {
        max-width: 6%;
    }
    .btn-hamburger {
        position: absolute;
        padding: 18px;
        margin-top: 0px;
        left: 0px;
        @include padrao;
        cursor: pointer;
        span {
            width: 47px;
            height: 3px;
            background: #FFFFFF;
            display: block;
            margin-bottom: 13px;
            transition: 400ms;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .title {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        left: 120px;
        margin-top: 22px;
        h1 {
            color: $cinza-topo;
            font-size: 23px;
        }
    }
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: -200px;
    background: $azul;
    height: 100%;
    width: 200px;
    transition: 400ms;
    ul {
        list-style: none;
        margin-top: 30px;
        li {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            border-bottom: 1px solid gray;
            a {
                color: $branco;
                text-decoration: none;
                font-family: sans-serif;
            }
        }
    }
}

.active {
    left: 0px !important;
}

.fechar {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    span:first-child {
        transform: rotate(130deg);
        margin-bottom: -10px !important;
    }
    span:nth-child(2) {
        display: none !important;
    }
    span:last-child {
        margin-top: 8px;
        transform: rotate(-130deg);
    }
}

//ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .title {
        h1 {
            margin-left: 10%;
        }
    }
}

@media(max-width: 520px) {
    .nav-bar {
        height: 55px;
        .btn-hamburger {
            padding: 14px;
            span {
                width: 40px;
                height: 3px;
                margin-bottom: 9px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .title {
            margin-top: 17px;
            left: 105px;
            h1 {
                color: $cinza-topo;
                font-size: 20px;
            }
        }
    }
    .fechar {
        padding-top: 29px !important;
        padding-bottom: 25px ;
      width:65px;
   
      //padding-botton: 10px !important;
        span:first-child {

            //margin-bottom: -20%!important;
        }
     
        span:last-child {
            //margin-top:-5px;
            
        }
    }
    
} //ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .title {
        h1 {
            margin-left: 180%;
        }
    }
}

.opcoes{
    margin-top: 40% !important;
}