.banner {
    .banner-img {
        //@include bgs("../img/banner.jpg")
        background: #f7f7f7;
    }
    .title {
        @include fonte($Monte-serrat, '48px', 200, $cinza-escuro);
        padding-top: 170px;
        padding-bottom: 40px;
        b {
            font-weight: 700;
        }
    }
    .subTitle {
        @include fonte($Monte-serrat, '24px', 200);
        color: $cinza-claro;
        padding-bottom: 40px;
        line-height: 28px;
    }
    .botao {
        @include fonte($Raleway, '13px', 700, $branco);
        background: $azul-claro;
        padding: 10px 38px;
        border:none;
        &:hover{
            background: darken($azul-claro, 5%);
        }
        &:active{
            background: darken($azul-claro, 5%); 
        }
    }
    .aplicativo {
        max-width: 140%;
        margin-top: 15%;
    }
}

@media(max-width: 680px) {
    .banner {
        .title {
            text-align: center;
        }
    }
    .aplicativo {
        display: none;
    }
}