.banner {
    .banner-img {
        //@include bgs("../img/banner.jpg")
        background: #f7f7f7;
    }
    .title {
        @include fonte($Monte-serrat, '48px', 200, $cinza-escuro);
        padding-top: 170px;
        padding-bottom: 40px;
        b {
            font-weight: 700;
        }
    }
    .subTitle {
        @include fonte($Monte-serrat, '24px', 200);
        color: $cinza-claro;
        padding-bottom: 40px;
        line-height: 28px;
    }
    .aplicativo {
        max-width: 140%;
        margin-top: 15%;
        img{
            animation: circulo 10s linear infinite;
        }
    }
}


@keyframes circulo {
    from {
       transform: scale(1);
    }
    
    to {
        transform: scale(1.1);
    }
  }







@media(max-width: 680px) {
    .banner {
        .title {
            text-align: center;
        }
    }
    .aplicativo {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .banner {
        .aplicativo {
            display: none;
        }
    }
}