.contato {
    background: #f1f1f1;
    .title {
        padding-top: 110px;
    }
    .subTitle1 {
        color: $azul-claro;
        font-size: 18px;
        padding-bottom: 51px;
        text-align: center;
    }
    input {
        padding: 25px;
    }
    textarea {
        margin-top: 25px;
        padding: 35px;
    }
    .email {
        margin-top: 20px;
    }
    .botao2 {
        margin-right: 2%;
    }
}

@media(max-width: 680px) {
    .contato {
        .title {
            font-size: 34px;
        }
        .telefone {
            margin-top: 20px;
        }
        .botao2 {
         margin-right: 35%;
     }
    }
}