footer {
    background: $rodape;
    border-bottom: solid 20px $cinza-escuro1;
    .title-footer {
        @include fonte($Monte-serrat, '20px', 700, $branco);
        padding-top: 100px;
        padding-bottom: 33px;
    }
    .subTitle-footer {
        @include fonte($Raleway, '14px', 300, $branco);
        line-height: 25.5px;
    }
    ul {
        @include fonte($Raleway, '14px', 300, $branco);
        line-height: 37px;
        color: $branco;
        list-style-type: none;
        padding-left: 0px;
    }
}