.barra {
    background: $branco;
    height: 21%;
    position: fixed;
    z-index: 20;
    .navbar {
        z-index: 10;
        padding-left: 0;
        padding-right: 0;
        .navbar-brand {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        .navbar-nav {
            .nav-link {
                color: $cinza-escuro;
                font-weight: 700;
                font-size: 14px;
                padding-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .barra {
        position: absolute;
    }
}