.topo {
    background: $branco;
    .navbar-brand {
        img {
            max-width: 200px;
            transition: 1s ease .1s 
        }
    }
    .nav-link {
        color: $cinza-escuro;
        font-weight: 700;
        font-size: 14px;
        padding-right: 20px;
    }
}

.toponovo{
    .navbar-brand {
        img {
            max-width: 128px;
            transition: 1s ease .1s 
        }
    }
}


@media(max-width: 680px) {
    .topo {
        .navbar-brand {
            img {
                max-width: 150px;
            }
        }
    }
}