.posBanner{

    
    .subTitle{
        @include fonte($Monte-serrat,'18px',300,$cinza-escuro);
        line-height: 28.8px;
    }
    .titleRodape{
        @include fonte($Raleway,'12px',normal,$cinza-escuro);
        line-height: 28px;
        margin-bottom: 155px;
    }
}