.produto{
    @include fonte($Monte-serrat);
    background: #293437;//aqui vai uma imagem
    color: $branco;
    .preTitle{
        color: $branco;
    }
    .title{
        color: $branco;
    }
    .produtos{
        padding-top: 114px;
        .titleProduto{
            @include fonte($Monte-serrat,'27px',500,$branco);
            padding-top: 10px;
            padding-bottom: 25px;
        }
        .descricao{
            @include fonte($Raleway,'14px',200,$branco);
            line-height: 25.5px;
            padding-bottom: 150px;
        }
    }
    .linha2{
        padding-top: 0;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.parallax {
    /* The image used */
    background: url("../img/banner.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}