.produto{
    @include fonte($Monte-serrat);
    background: #293437;//aqui vai uma imagem
    color: $branco;
    .preTitle{
        color: $branco;
    }
    .title{
        color: $branco;
    }
    .produtos{
        padding-top: 114px;
        .titleProduto{
            @include fonte($Monte-serrat,'30px',200,$branco);
            padding-bottom: 25px;
        }
        .descricao{
            @include fonte($Raleway,'14px',200,$branco);
            line-height: 25.5px;
            padding-bottom: 200px;
        }
    }
}