.sobre {
    margin-bottom: 50px;
    .title {
        margin-top: 35px;
        font-size: 38px;
        padding-right: 0;
    }
    .linha-videos {
        padding-top: 50px;
    }
}

@media(max-width: 680px) {
    .sobre {
        .videos {
            padding-top: 20px;
        }
    }
}