$monte-serrat: 'Montserrat',
sans-serif;
$lato: 'Lato',
sans-serif;
$bg: #F8FAFC;
$cor-primaria: #c9ccd1;
// $cor-primaria: #007DCC;
$cor-secundaria: #bf1e24;
$cinza: #f4f4f4;
$branco: #ffffff;
$nao-iniciou: #ffffff;
$aguardando: #FFFF00;
$em_atendimento:#00FF00;
$em_atendimento_em_outro_servico:#0000FF;
$atendido: #FF00FF;
$fastpass: #FF0000;
$cor-aviso: #E82C0C;