@media (max-width: 620px) {
    .datepicker-date-display {
        background-color: $cor-primaria;
        padding-left: 355px;
        .date-text,
        .year-text {
            margin-left: -410px;
        }
    }
    .ocutarmobile {
        display: none !important;
    }
    table.responsive-table {
        thead {
            th {
                display: none;
            }
        }
    }
}