$cor-primaria: #007DCC;
$cor-secundaria: #AECFF8;
$cinza: #f9f9f9;


$nao-iniciou: #ffffff;
$agurdando: #FFFF00;
$em_atendimento:#00FF00;
$em_atendimento_ou_em_outro_servico:#0000FF;
$atendido: #FF00FF;
$fastpass: #FF0000;





$azul-escuro: #313C4C;
$branco: #ffffff;
$disponivel: #169F85;
$emuso: #2A80B9;
$Indisponivel: #8F44AD;
$finalizado: #565656;
