$cor-padrão: $vermelho;
$cor-secundaria: $branco;


.transparente {
    background-color: transparent;
}


//inputs
.mdl-textfield.is-focused .mdl-textfield__label {
    color: $cor-padrão;
}

.mdl-textfield__label:after{
    background-color: $cor-padrão;
}


.cor{
    background: red;
    height: 30px;
    width: 100%;
}