.card_setores {
    .horario {
        display: flex;
        align-items: center;
        p {
            color: $cinza;
            font-size: 12px;
        }
    }
    .card_setor {
        position: relative;
        border-left: 4px solid $cor_do_card;
        h4 {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 2px;
        }
        p {
            color: $cinza-topo;
            font-size: 13px;
            margin-bottom: 5px;
        }
    }
}

.circle {
    position: absolute;
    left: -18px;
    top: 31%;
    width: 33px;
    height: 33px;
    background: $bg_setores;
    border-top: 3px solid $branco;
    border-right: 3px solid $branco;
    border-left: 3px solid $bg_setores;
    border-bottom: 3px solid $bg_setores;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px 4px $cor_do_card;
    transform: rotate(45deg);
}