.sidebar{
    position: fixed;
    height: 100%;
    background: $azul-escuro;
    max-width: 4%;
    position: fixed;
    .nav-link{
        padding: 0.5rem 2rem;
    }
    .icon-text{
        font-size: 10px;
        color: $branco
    }
}