.table{
    text-align: center;
    .topo_tabela{
        background: $azul-escuro;
        tr{
            th{
                color: $branco;
                font-weight: 400;
            }
        }
    }
    .conteudo_tabela{
        background: $branco;
        td{
            text-align: center; 
            vertical-align: inherit !important;
            p{
                margin-bottom: -1.2rem;
            }
            ul{
                li{
                list-style: none;
                line-height: 0.5;
                }
            }
        }
    }
}


@media (min-device-width : 768px) and (max-device-width : 1024px) {
    .tablet{
        margin-top: 10px;
    }
}