.cards {
    background: $branco;
    border-radius: 2px;
    padding-left: 0 !important;
    position: relative;
    height: 220px;
    width:  100%;
    margin-bottom: 40px;



    .imagem-img322{
        @include imagem-card-setor('../img/banco_de_sangue.jpg')
    }
    .imagem-img239{
        @include imagem-card-setor('../img/checkup.jpg')
    }
    .imagem-img235{
        @include imagem-card-setor('../img/mamografia.jpg')
    }
    .imagem-img391{
        @include imagem-card-setor('../img/ecocardiograma.jpg')
    }
    .imagem-img229{
        @include imagem-card-setor('../img/tomografia.jpg')
    }
    .imagem-img231{
        @include imagem-card-setor('../img/ultrassom.jpg')
    }
    .imagem-img228{
        @include imagem-card-setor('../img/medicina_nuclear.jpg')
    }


    .c_conteudo_card {
        position: relative;
        left: 26% !important;
        .c_card-title {
            margin-top: 12px;
        }
        p {
            line-height: 0.7;
            font-size: 17px;
            text-align: left !important;
        }
        .c_status {
            line-height: 3;
        }
    }
}

@media(max-width: 920px) {
    .cards {
        .c_conteudo_card {
            left: 34% !important;
        }
    }
}