.c_total_card {
    @include fontebase($monte-serrat, '30px', 300, $cor-primaria);
    letter-spacing: 4px;
    b {
        @include fontebase($monte-serrat, '30px', 600, $cor-primaria);
    }
}

.c_linha_card_superior {
    margin-bottom: 0;
}

@media(max-width: 920px) {
    .c_total_card {
        letter-spacing: 0;
    }
}