@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body{
    background: lighten($azul-acinzentado, 2%);
}


h1, h2, h3, h4, h5, h6, p ,span{
    font-family: 'Nunito Sans', sans-serif;
}

tr,th,td{
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 200;
}

.titulo{
    color: $cinza;
    font-size: 40px;
}



button{
    float: right;
    
}

@media(max-width: 768px){
    .titulo{
        font-size: 30px;
    }
    
}
