.card_content {
    margin-top: 14%;
    .card {
        width: 100%;
        button {
            color: $cor-padrão;
           
        }
    }
}


@media ( min-width: 600px){
    .card_content {
        margin-top: 8%;
    }
}


@media ( min-width: 920px){
    .card_content {
        margin-top: 5%;
    }
}

@media ( min-width: 1200px){
    .card_content {
        margin-top: 3%;
    }
}