.login {
    background: url('../img/bg.jpg');
    height: 100%;
    background-size: cover;
    .mdl-layout {
        align-items: center;
        justify-content: center;
    }
    .mdl-layout__content {
        padding: 24px;
        flex: none;
    }
    .mdl-card {
        padding: 20px 30px;
        background: rgba($branco, 0.9);
        .mdl-card__title {
            justify-content: center;
            h2 {
                font-size: 50px;
                font-weight: 400;
                color: $cor-padrão;
            }
        }
        button {
           background: $cor-padrão;
           color: $branco;
        }
   
    }
}