.login {
    background: url('../img/bg.jpg') no-repeat;
    height: 100%;
    background-size: cover; 
    .logo {
        @include bg-fonte($cor-padrao);
        font-weight: 300;
    }
    .barra {
        @include bg($cor-padrao);
        height: 15px;
        width: 100%;
    }
    .btn_entrar{
        @include bg($cor-padrao);
        @include bg-fonte($branco);
        border: none;
    }
}