@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* line 4, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_base.scss */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Raleway", sans-serif;
}

/* line 15, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_base.scss */
.preTitle {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #505050;
  text-transform: uppercase;
  margin-top: 125px;
  font-size: 18px;
  font-weight: 300;
}

/* line 23, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_base.scss */
.title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: #505050;
}

/* line 25, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_base.scss */
.title b {
  font-weight: 700;
}

/* line 1, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_navbar.scss */
.navbar {
  padding-left: 0;
  padding-right: 0;
}

/* line 4, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_navbar.scss */
.navbar .navbar-brand {
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 9, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_navbar.scss */
.navbar .navbar-nav .nav-link {
  color: #505050;
  font-weight: 700;
  font-size: 14px;
  padding-right: 20px;
}

/* line 2, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_banner.scss */
.banner .banner-img {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* line 10, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_banner.scss */
.banner .title {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 200;
  color: #505050;
  padding-top: 170px;
  padding-bottom: 40px;
}

/* line 14, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_banner.scss */
.banner .title b {
  font-weight: 700;
}

/* line 19, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_banner.scss */
.banner .subTitle {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #00ff00;
  color: darkgray;
  padding-bottom: 40px;
  line-height: 28px;
}

/* line 26, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_banner.scss */
.banner .botao {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  background: #47c9e5;
  padding: 20px 10px 20px 10px;
  border-radius: 60px;
  margin-bottom: 195px;
}

/* line 2, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_posBanner.scss */
.posBanner .subTitle {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #505050;
  line-height: 28.8px;
}

/* line 6, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_posBanner.scss */
.posBanner .titleRodape {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #505050;
  line-height: 28px;
  margin-bottom: 155px;
}

/* line 1, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00ff00;
  background: #293437;
  color: #ffffff;
}

/* line 5, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto .preTitle {
  color: #ffffff;
}

/* line 8, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto .title {
  color: #ffffff;
}

/* line 11, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto .produtos {
  padding-top: 114px;
}

/* line 13, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto .produtos .titleProduto {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #ffffff;
  padding-bottom: 25px;
}

/* line 17, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_produto.scss */
.produto .produtos .descricao {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #ffffff;
  line-height: 25.5px;
  padding-bottom: 200px;
}

/* line 2, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_estatisticas.scss */
.estatisticas .descricaoTitle {
  color: darkgray;
  padding-bottom: 75px;
}

/* line 6, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_estatisticas.scss */
.estatisticas .numeros {
  font-family: Montserrat, sans-serif;
  font-size: 72px;
  font-weight: 300;
  color: darkgray;
  margin: 100px 100px  0 100px;
}

/* line 11, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_estatisticas.scss */
.estatisticas .descricaoNumeros {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #505050;
  margin-bottom: 100px;
}

/* line 15, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_estatisticas.scss */
.estatisticas .line {
  border-right: solid 1px darkgray;
}

/* line 18, C:/wamp64/www/cursos/Portfolio/iTech/src/sass/_partials/_estatisticas.scss */
.estatisticas .line-bottom {
  border-bottom: solid 1px darkgray;
}

/*# sourceMappingURL=../css/main.map */