@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Raleway", sans-serif; }

.preTitle {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #505050;
  text-transform: uppercase;
  margin-top: 125px;
  font-size: 18px;
  font-weight: 300; }

.title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: #505050; }
  .title b {
    font-weight: 700; }

.subTitle1 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #a2a2a2;
  margin-bottom: 30px; }

.barra {
  background: #ffffff;
  height: 15%;
  position: fixed;
  z-index: 20; }
  .barra .navbar {
    z-index: 10;
    padding-left: 0;
    padding-right: 0; }
    .barra .navbar .navbar-brand {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 240px; }
      .barra .navbar .navbar-brand img {
        width: 100%;
        max-width: 75%;
        background-size: 100% 100%; }
    .barra .navbar .navbar-nav {
      background: #ffffff; }
      .barra .navbar .navbar-nav .nav-link {
        color: #505050;
        font-weight: 700;
        font-size: 14px;
        padding-right: 20px; }

@media (max-width: 680px) {
  .barra {
    position: absolute; }
    .barra .linha {
      padding-top: 6%; }
      .barra .linha .navbar-brand {
        padding: 0 !important; }
        .barra .linha .navbar-brand img {
          padding-left: 8%;
          max-width: 77%; }
    .barra .navbar-nav {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px; } }

.banner .banner-img {
  background: #f7f7f7; }

.banner .title {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 200;
  color: #505050;
  padding-top: 170px;
  padding-bottom: 40px; }
  .banner .title b {
    font-weight: 700; }

.banner .subTitle {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #00ff00;
  color: #a2a2a2;
  padding-bottom: 40px;
  line-height: 28px; }

.banner .botao {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  background: #00bfbf;
  padding: 10px 38px;
  border: none; }
  .banner .botao:hover {
    background: #00a6a6; }
  .banner .botao:active {
    background: #00a6a6; }

.banner .aplicativo {
  max-width: 140%;
  margin-top: 15%; }

@media (max-width: 680px) {
  .banner .title {
    text-align: center; }
  .aplicativo {
    display: none; } }

.posBanner .subTitle {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #505050;
  line-height: 28.8px; }

.posBanner .titleRodape {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #505050;
  line-height: 28px; }

.posBanner .itechflow {
  padding-top: 30%; }

.posBanner .mao-imagem {
  max-width: 119%;
  margin-top: 14%; }

@media (max-width: 680px) {
  .posBanner .mao {
    display: none; } }

.produto {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00ff00;
  background: #293437;
  color: #ffffff; }
  .produto .preTitle {
    color: #ffffff; }
  .produto .title {
    color: #ffffff; }
  .produto .produtos {
    padding-top: 114px; }
    .produto .produtos .titleProduto {
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-weight: 200;
      color: #ffffff;
      padding-bottom: 25px; }
    .produto .produtos .descricao {
      font-family: Raleway, sans-serif;
      font-size: 14px;
      font-weight: 200;
      color: #ffffff;
      line-height: 25.5px;
      padding-bottom: 200px; }

.estatisticas .descricaoTitle {
  color: #a2a2a2;
  padding-bottom: 75px; }

.estatisticas .numeros {
  font-family: Montserrat, sans-serif;
  font-size: 72px;
  font-weight: 300;
  color: #a2a2a2;
  margin: 100px 100px  0 100px; }

.estatisticas .descricaoNumeros {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #505050;
  margin-bottom: 100px; }

.estatisticas .line {
  border-right: solid 1px #a2a2a2; }

.estatisticas .line-bottom {
  border-bottom: solid 1px #a2a2a2; }

.blog .container-fluid {
  background: #d5d5d5;
  height: 375px; }

.blog .preTitle {
  padding-top: 125px; }

.blog .quadrado {
  height: 607px;
  margin-bottom: 150px; }

.sobre {
  margin-bottom: 150px; }
  .sobre .title {
    padding-top: 23%;
    font-size: 38px;
    padding-right: 0; }

.contato {
  background: #f1f1f1; }
  .contato .title {
    padding-top: 110px; }
  .contato .subTitle1 {
    color: #505050;
    font-size: 18px;
    padding-bottom: 51px; }
  .contato input {
    border-radius: 30px;
    padding: 25px; }
  .contato textarea {
    margin-top: 25px;
    border-radius: 20px;
    padding: 35px; }
  .contato button {
    margin-bottom: 150px; }

.clientes .container-fluid {
  background: url(../img/cliente.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%; }

.clientes .c {
  padding: 100px; }

footer {
  background: #2a3338;
  border-bottom: solid 20px #1d1d1d; }
  footer .title-footer {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 33px; }
  footer .subTitle-footer {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 25.5px; }
  footer ul {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 37px;
    color: #ffffff;
    list-style-type: none;
    padding-left: 0px; }
