$monte-serrat: 'Montserrat',
sans-serif;
$lato: 'Lato',
sans-serif;
$bg: #F8FAFC;
$cor-primaria: #5d5b5c;
// $cor-primaria: #007DCC;
$cor-secundaria: #c00000;
$cinza: #f9f9f9;
$branco: #ffffff;
$nao-iniciou: #ffffff;
$aguardando: #FFFF00;
$em_atendimento:#00FF00;
$em_atendimento_em_outro_servico:#0000FF;
$atendido: #FF00FF;
$fastpass: #FF0000;
$cor-aviso: #E82C0C;