$branco: #ffffff;
$cinza-escuro: #505050;
$azul-claro: #47c9e5;
$cinza-claro :lighten($cinza-escuro, 32%);
$rodape :#2a3338;

$Monte-serrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
