$branco: #ffffff;
$cinza-escuro: #505050;
$azul-claro: #00bfbf;
$cinza-claro :lighten($cinza-escuro, 32%);
$cinza-escuro1 : darken($cinza-escuro, 20%);
$rodape :#2a3338;

$Monte-serrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
