.topo-grid {
    margin-top: 4%;
}

.grid-tr {
    border-bottom: none;
}

th {
    // transform: rotate(-54deg) !important;
    // -webkit-transform: rotate(-54deg) !important;
    // -moz-transform: rotate(-54deg) !important;
    // -ms-transform: rotate(-54deg) !important;
    // -o-transform: rotate(-54deg) !important;
}

.gridStatus {
    text-align: center;
}